{% extends 'main.html' %}
{% block content %}
  <div class="cart-items">
    {% for item in items %}
    {% if item.product.quantity%}  
    <div class="cart-item">
          <div class="cart-item-image">
            <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
          </div>
          <div class="cart-item-details">
            <h3>{{ item.product.name }}</h3>
            <p class="price">Price: {{ item.product.price }} CZK</p>
            <div class="cart-item-quantity">
              <label for="quantity">Quantity:</label>
              <input type="number"name="quantity" id="quantity_{{ item.product.id }}" value="{{ item.quantity }}">

              <button class="update-cart" data-product="{{ item.product.id }}" data-action="add">+</button>
              <button class="update-cart"data-product="{{ item.product.id }}"data-action="remove">-</button>
            </div>
            <p class="total"> Total: {{item.get_total}} CZK</p>

          </div>
        </div>
    {% endif %}
    {% endfor %}
    <div class="cart-total">
        <p class="total"> Items: <strong> {{order.get_cart_items}} </p>
        <p class="total">Total: {{order.get_cart_total }} CZK</p>
      
        <a href="{% url 'cart:checkout' %}"><button class="checkout-button">Checkout</button></a>
    </div>
  </div>



{% endblock %}