{% extends 'main.html' %}

{% block content %}
<h1>Thanks for the order!</h1>

<p> Your shipping infromation: {{shipping_address.country}} {{shipping_address.city}} {{shipping_address.address}} <p>
<p>Order time: {{ order.date_ordered }}</p>
<h3>Purchased Items:</h3>
<ul>
    {% for order_item in order_items %}
    <p>Product: {{ order_item.product.name }}</p>
    <p>Quantity: {{ order_item.quantity }}</p>
    
{% endfor %}
<a  class="btn btn-outline-dark" href="{% url 'products:product_list' %}">&#x2190; Back to Main Menu</a>
</ul>
{% endblock %}