{% load static %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'products:product_list' %}">
      <!-- <img src="{% static 'img/logo.png' %}" alt="Logo" height="30"> -->
      <span class="ms-2">My Store</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        {% for category in categories %}
        <li class="nav-item"><a class="nav-link" href="{% url 'products:category' category_name=category.name %}">{{ category.name }}</a>
        </li>
        {% endfor %}
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
            
        <a href="{% url 'cart:cart' %}">
          <img id="cart-icon" src="{% static 'images/site_images/cart_image.jpg' %}" style="width: 50px; height: 50px;">
        </a>
        <p id="cart-total">{{cartItems}}</p>
        
          
          <form class="d-flex" method=POST action="{% url 'products:search_products' %}">
            {% csrf_token %}
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name='searched'>
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </li>
        
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'accounts:profile' %}">Welcome, {{user.name}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'accounts:logout' %}"> Logout</a>

        
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'accounts:register' %}" id="register-link">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'accounts:login' %}">Login</a>
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="bi bi-person-circle"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>