{% extends 'main.html' %}

{% block title %}
{{ product.name }}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-5">
        {% if product.image %}
            <img src="{{ product.image.url }}" alt="{{ product.name }}" class="img-fluid">
        {% else %}
            No image available.
        {% endif %}
        </div>
        <div class="col-md-7">
            <h1>{{ product.name }}</h1>
            <p class="text-muted">{{ product.description }}</p>
            <hr>
            <div class="row">
                <div class="col-md-6">
                    <p><strong>Price:</strong> <span class="text-danger">{{ product.price }}</span></p>
                </div>

            </div>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <form method="POST" action="#">
                        {% csrf_token %}
                        {% if product.quantity %}
                            <button type="button" data-product = {{product.id}} data-action="add" class="btn btn-primary mt-auto update-cart">Add to cart</button>
                        {% else %}
                            <button type="button" class="btn btn-secondary mt-auto" disabled>Out of stock</button>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
