{% extends 'main.html' %}


{% block title %}
{{title}}
{% endblock%}

{% block content %}

{% load static %}

<div class="container">
  <div class="row">
    {% for product in products %}
    <div class="col-md-3 col-sm-6 mb-4">
      <div class="card h-100">
        {% if product.image %}
        <img src="{{ product.image.url }}" alt="{{ product.name }}" style="width: 200px; height: 200px;">
        {% else %}
          No image available.
        {% endif %}

        <div class="card-body d-flex flex-column">
          <h5 class="card-title">
            <a href="{% url 'products:product_details' slug=product.slug %}">{{ product.name }}</a>
          </h5>
          <p class="card-text">{{ product.price }} Kč</p>
          <button type="button" data-product = {{product.id}} data-action="add" class="btn btn-primary mt-auto update-cart">Add to cart</button>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>


{% endblock %}